{:index 0, :time 11705500, :type :invoke, :process 1, :f :lock, :value nil}
{:index 1, :time 22106600, :type :ok, :process 1, :f :lock, :value nil}
{:index 2, :time 81061000, :type :invoke, :process 3, :f :lock, :value nil}
{:index 3, :time 185929200, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 4, :time 188359500, :type :ok, :process 1, :f :unlock, :value nil}
{:index 5, :time 533366000, :type :invoke, :process 2, :f :lock, :value nil}
{:index 6, :time 538441300, :type :ok, :process 2, :f :lock, :value nil}
{:index 7, :time 823787200, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 8, :time 826361400, :type :ok, :process 2, :f :unlock, :value nil}
{:index 9, :time 826894600, :type :ok, :process 3, :f :lock, :value nil}
{:index 10, :time 981266600, :type :invoke, :process 2, :f :lock, :value nil}
{:index 11, :time 1365172700, :type :invoke, :process 0, :f :lock, :value nil}
{:index 12, :time 1478899000, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 13, :time 1481302900, :type :ok, :process 3, :f :unlock, :value nil}
{:index 14, :time 1481885400, :type :ok, :process 2, :f :lock, :value nil}
{:index 15, :time 1605278300, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 16, :time 1607325100, :type :ok, :process 0, :f :lock, :value nil}
{:index 17, :time 1607427900, :type :ok, :process 2, :f :unlock, :value nil}
{:index 18, :time 1729470700, :type :invoke, :process 3, :f :lock, :value nil}
{:index 19, :time 2097263400, :type :invoke, :process 1, :f :lock, :value nil}
{:index 20, :time 2399291800, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 21, :time 2401731800, :type :ok, :process 0, :f :unlock, :value nil}
{:index 22, :time 2402062600, :type :ok, :process 3, :f :lock, :value nil}
{:index 23, :time 2786323500, :type :invoke, :process 0, :f :lock, :value nil}
{:index 24, :time 2855658800, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 25, :time 2858288900, :type :ok, :process 1, :f :lock, :value nil}
{:index 26, :time 2858440400, :type :ok, :process 3, :f :unlock, :value nil}
{:index 27, :time 3216105000, :type :invoke, :process 2, :f :lock, :value nil}
{:index 28, :time 3272068300, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 29, :time 3274512800, :type :ok, :process 1, :f :unlock, :value nil}
{:index 30, :time 3275042100, :type :ok, :process 0, :f :lock, :value nil}
{:index 31, :time 3330178800, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 32, :time 3332239900, :type :ok, :process 2, :f :lock, :value nil}
{:index 33, :time 3332348100, :type :ok, :process 0, :f :unlock, :value nil}
{:index 34, :time 3523341000, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 35, :time 3525565900, :type :ok, :process 2, :f :unlock, :value nil}
{:index 36, :time 3538089700, :type :invoke, :process 3, :f :lock, :value nil}
{:index 37, :time 3542192600, :type :ok, :process 3, :f :lock, :value nil}
{:index 38, :time 3705205900, :type :invoke, :process 2, :f :lock, :value nil}
{:index 39, :time 3805684100, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 40, :time 3807771600, :type :ok, :process 3, :f :unlock, :value nil}
{:index 41, :time 3828870500, :type :invoke, :process 3, :f :lock, :value nil}
{:index 42, :time 3832824800, :type :ok, :process 3, :f :lock, :value nil}
{:index 43, :time 4144261000, :type :invoke, :process 0, :f :lock, :value nil}
{:index 44, :time 4327211300, :type :invoke, :process 1, :f :lock, :value nil}
{:index 45, :time 4363158600, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 46, :time 4365281200, :type :ok, :process 1, :f :lock, :value nil}
{:index 47, :time 4365389800, :type :ok, :process 3, :f :unlock, :value nil}
{:index 48, :time 4672978200, :type :invoke, :process 3, :f :lock, :value nil}
{:index 49, :time 8706718100, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 50, :time 9144807100, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
{:index 51, :time 9674142600, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
