{:f :cbcast, :value 1, :time 19642000, :process 2, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 35291000, :process 2, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 132199500, :process 1, :type :invoke, :index 2}
{:f :cbcast, :value [1], :time 232507000, :process 1, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 270250500, :process 0, :type :invoke, :index 4}
{:f :cbcast, :value 4, :time 501732600, :process 2, :type :invoke, :index 5}
{:f :cbcast, :value 5, :time 641397100, :process 1, :type :invoke, :index 6}
{:f :cbcast, :value [], :time 643830600, :process 1, :type :ok, :index 7}
{:f :cbcast, :value [2], :time 712561500, :process 2, :type :ok, :index 8}
{:f :cbcast, :value 6, :time 726718200, :process 2, :type :invoke, :index 9}
{:f :cbcast, :value [1], :time 929626800, :process 0, :type :ok, :index 10}
{:f :cbcast, :value 7, :time 1099045900, :process 1, :type :invoke, :index 11}
{:f :cbcast, :value 8, :time 1287927900, :process 0, :type :invoke, :index 12}
{:f :cbcast, :value [5], :time 1395996100, :process 2, :type :ok, :index 13}
{:f :cbcast, :value [4], :time 1424642300, :process 1, :type :ok, :index 14}
{:f :cbcast, :value 9, :time 1442836100, :process 2, :type :invoke, :index 15}
{:f :cbcast, :value [2 5 4], :time 1492336500, :process 0, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 1503548300, :process 1, :type :invoke, :index 17}
{:f :cbcast, :value 11, :time 1574544800, :process 0, :type :invoke, :index 18}
{:f :cbcast, :value [6], :time 1669697000, :process 0, :type :ok, :index 19}
{:f :cbcast, :value 12, :time 1669794500, :process 0, :type :invoke, :index 20}
{:f :cbcast, :value [6], :time 1696080100, :process 1, :type :ok, :index 21}
{:f :cbcast, :value 13, :time 1802156700, :process 1, :type :invoke, :index 22}
{:f :cbcast, :value [3 7], :time 1871581500, :process 2, :type :ok, :index 23}
{:f :cbcast, :value [3], :time 1912342700, :process 1, :type :ok, :index 24}
{:f :cbcast, :value [7], :time 2089263500, :process 0, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2091129700, :process 0, :type :invoke, :index 26}
{:f :cbcast, :value 15, :time 2105042900, :process 2, :type :invoke, :index 27}
{:f :cbcast, :value [11 10 13 8], :time 2114529400, :process 2, :type :ok, :index 28}
{:f :cbcast, :value [10 13], :time 2230636400, :process 0, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 2247901600, :process 2, :type :invoke, :index 30}
{:f :cbcast, :value 17, :time 2625045800, :process 0, :type :invoke, :index 31}
{:f :cbcast, :value 18, :time 2665924000, :process 1, :type :invoke, :index 32}
{:f :cbcast, :value [11 8 14 9], :time 2679529100, :process 1, :type :ok, :index 33}
{:f :cbcast, :value 19, :time 2725151800, :process 1, :type :invoke, :index 34}
{:f :cbcast, :value [15], :time 2779987500, :process 1, :type :ok, :index 35}
{:f :cbcast, :value 20, :time 2780060400, :process 1, :type :invoke, :index 36}
{:f :cbcast, :value [12], :time 2834470200, :process 1, :type :ok, :index 37}
{:f :cbcast, :value 21, :time 2893335900, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [], :time 2896906000, :process 1, :type :ok, :index 39}
{:f :cbcast, :value [12], :time 2949996500, :process 2, :type :ok, :index 40}
{:f :cbcast, :value [9 15], :time 3012691600, :process 0, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 3033456500, :process 1, :type :invoke, :index 42}
{:f :cbcast, :value [16], :time 3180931700, :process 1, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 3208089000, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value 24, :time 3470529300, :process 2, :type :invoke, :index 45}
{:f :cbcast, :value [17], :time 3598970800, :process 1, :type :ok, :index 46}
{:f :cbcast, :value [14 20 18 21 19], :time 3608705200, :process 2, :type :ok, :index 47}
{:f :cbcast, :value 25, :time 3642152500, :process 1, :type :invoke, :index 48}
{:f :cbcast, :value [24], :time 3645233300, :process 1, :type :ok, :index 49}
{:f :cbcast, :value 26, :time 3909080400, :process 1, :type :invoke, :index 50}
{:f :cbcast, :value [], :time 3911701700, :process 1, :type :ok, :index 51}
{:f :cbcast, :value 27, :time 4273430500, :process 1, :type :invoke, :index 52}
{:f :cbcast, :value [], :time 4275518000, :process 1, :type :ok, :index 53}
{:f :cbcast, :value 28, :time 4511919000, :process 1, :type :invoke, :index 54}
{:f :cbcast, :value [], :time 4514760800, :process 1, :type :ok, :index 55}
{:f :cbcast, :value 29, :time 4645446300, :process 0, :type :invoke, :index 56}
{:f :cbcast, :value 30, :time 4809730300, :process 1, :type :invoke, :index 57}
{:f :cbcast, :value [], :time 4812795400, :process 1, :type :ok, :index 58}
{:f :cbcast, :value 31, :time 4976187600, :process 2, :type :invoke, :index 59}
{:f :cbcast, :value [17 22 23 25 26 27 30 28], :time 4994510000, :process 2, :type :ok, :index 60}
{:f :cbcast, :value [20 18 21 16 22 19 23 24 25 26 27], :time 5022601100, :process 0, :type :ok, :index 61}
