{:f :cbcast, :value 1, :time 17666800, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 29417700, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 194723400, :process 2, :type :invoke, :index 2}
{:f :cbcast, :value 3, :time 235663000, :process 0, :type :invoke, :index 3}
{:f :cbcast, :value [], :time 238668900, :process 0, :type :ok, :index 4}
{:f :cbcast, :value 4, :time 600281900, :process 0, :type :invoke, :index 5}
{:f :cbcast, :value [], :time 602481300, :process 0, :type :ok, :index 6}
{:f :cbcast, :value [1], :time 658795300, :process 2, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 707406300, :process 0, :type :invoke, :index 8}
{:f :cbcast, :value [2], :time 853924200, :process 0, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 898988800, :process 2, :type :invoke, :index 10}
{:f :cbcast, :value 7, :time 1027292800, :process 1, :type :invoke, :index 11}
{:f :cbcast, :value 8, :time 1115097600, :process 0, :type :invoke, :index 12}
{:f :cbcast, :value [], :time 1117435700, :process 0, :type :ok, :index 13}
{:f :cbcast, :value 9, :time 1149501300, :process 0, :type :invoke, :index 14}
{:f :cbcast, :value [], :time 1151754900, :process 0, :type :ok, :index 15}
{:f :cbcast, :value [1 3], :time 1169674400, :process 1, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 1384167500, :process 0, :type :invoke, :index 17}
{:f :cbcast, :value [7], :time 1515311200, :process 0, :type :ok, :index 18}
{:f :cbcast, :value [3 4], :time 1553573700, :process 2, :type :ok, :index 19}
{:f :cbcast, :value 11, :time 1628582800, :process 2, :type :invoke, :index 20}
{:f :cbcast, :value 12, :time 1655428200, :process 1, :type :invoke, :index 21}
{:f :cbcast, :value 13, :time 1695774700, :process 0, :type :invoke, :index 22}
{:f :cbcast, :value [6], :time 1748434600, :process 0, :type :ok, :index 23}
{:f :cbcast, :value [2 9 4 5 8], :time 1766228900, :process 1, :type :ok, :index 24}
{:f :cbcast, :value [7 9 8 5], :time 1795199700, :process 2, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 1830273800, :process 0, :type :invoke, :index 26}
{:f :cbcast, :value 15, :time 1893886500, :process 1, :type :invoke, :index 27}
{:f :cbcast, :value 16, :time 2107993100, :process 2, :type :invoke, :index 28}
{:f :cbcast, :value [12], :time 2136274200, :process 0, :type :ok, :index 29}
{:f :cbcast, :value [10], :time 2235230600, :process 1, :type :ok, :index 30}
{:f :cbcast, :value 17, :time 2345963100, :process 0, :type :invoke, :index 31}
{:f :cbcast, :value [10], :time 2403193700, :process 2, :type :ok, :index 32}
{:f :cbcast, :value 18, :time 2449405100, :process 2, :type :invoke, :index 33}
{:f :cbcast, :value 19, :time 2477998400, :process 1, :type :invoke, :index 34}
{:f :cbcast, :value [15], :time 2483711700, :process 2, :type :ok, :index 35}
{:f :cbcast, :value [6 13], :time 2561324600, :process 1, :type :ok, :index 36}
{:f :cbcast, :value [11 15], :time 2594176800, :process 0, :type :ok, :index 37}
{:f :cbcast, :value 20, :time 2623006000, :process 2, :type :invoke, :index 38}
{:f :cbcast, :value [13 12], :time 2627257200, :process 2, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 3018567500, :process 0, :type :invoke, :index 40}
{:f :cbcast, :value 22, :time 3334519200, :process 1, :type :invoke, :index 41}
{:f :cbcast, :value [11 14 16 20 17 18], :time 3336684300, :process 1, :type :ok, :index 42}
{:f :cbcast, :value [18 19 16 20], :time 3429318900, :process 0, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 3462426900, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value [21], :time 3488783700, :process 1, :type :ok, :index 45}
{:f :cbcast, :value 24, :time 3761428000, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [], :time 3763769100, :process 1, :type :ok, :index 47}
{:f :cbcast, :value 25, :time 4145875400, :process 1, :type :invoke, :index 48}
{:f :cbcast, :value [], :time 4148501400, :process 1, :type :ok, :index 49}
{:f :cbcast, :value 26, :time 4350292400, :process 2, :type :invoke, :index 50}
{:f :cbcast, :value [14 17 19 22 21 23 24], :time 4627953100, :process 2, :type :ok, :index 51}
{:f :cbcast, :value 27, :time 4747189500, :process 1, :type :invoke, :index 52}
{:f :cbcast, :value [26], :time 4749319500, :process 1, :type :ok, :index 53}
{:f :cbcast, :value 28, :time 4905135900, :process 2, :type :invoke, :index 54}
{:f :cbcast, :value [25 27], :time 4991903100, :process 2, :type :ok, :index 55}
