{:index 0, :time 10422700, :type :invoke, :process 2, :f :lock, :value nil}
{:index 1, :time 20081400, :type :ok, :process 2, :f :lock, :value nil}
{:index 2, :time 173895400, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 3, :time 535168400, :type :invoke, :process 0, :f :lock, :value nil}
{:index 4, :time 838609000, :type :invoke, :process 3, :f :lock, :value nil}
{:index 5, :time 1123349900, :type :invoke, :process 1, :f :lock, :value nil}
{:index 6, :time 5175874900, :type :info, :process 2, :f :unlock, :value nil, :error :net-timeout}
{:index 7, :time 5541036900, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5841263000, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 9, :time 6128516900, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
