{:f :cbcast, :value 1, :time 20783700, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 35086800, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 175218900, :process 0, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 183831700, :process 0, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 540396400, :process 0, :type :invoke, :index 4}
{:f :cbcast, :value [], :time 548204600, :process 0, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 907747200, :process 2, :type :invoke, :index 6}
{:f :cbcast, :value [1 2 3], :time 914138000, :process 2, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 1146826100, :process 2, :type :invoke, :index 8}
{:f :cbcast, :value [], :time 1149396100, :process 2, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 1403905500, :process 1, :type :invoke, :index 10}
{:f :cbcast, :value 7, :time 1438902300, :process 0, :type :invoke, :index 11}
{:f :cbcast, :value [1 2 3 5], :time 1542003300, :process 1, :type :ok, :index 12}
{:f :cbcast, :value 8, :time 1769891600, :process 2, :type :invoke, :index 13}
{:f :cbcast, :value [4], :time 1896971300, :process 0, :type :ok, :index 14}
{:f :cbcast, :value 9, :time 1904542300, :process 1, :type :invoke, :index 15}
{:f :cbcast, :value [6], :time 1905574700, :process 2, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 2215547900, :process 2, :type :invoke, :index 17}
{:f :cbcast, :value [4 7], :time 2323639800, :process 1, :type :ok, :index 18}
{:f :cbcast, :value 11, :time 2483786400, :process 0, :type :invoke, :index 19}
{:f :cbcast, :value 12, :time 2549413500, :process 1, :type :invoke, :index 20}
{:f :cbcast, :value [8], :time 2556817100, :process 1, :type :ok, :index 21}
{:f :cbcast, :value [5 6 8 9], :time 2557621700, :process 0, :type :ok, :index 22}
{:f :cbcast, :value [7], :time 2579691100, :process 2, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2869486600, :process 1, :type :invoke, :index 24}
{:f :cbcast, :value [11 10], :time 2977030700, :process 1, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 3039405800, :process 2, :type :invoke, :index 26}
{:f :cbcast, :value 15, :time 3148426100, :process 1, :type :invoke, :index 27}
{:f :cbcast, :value [], :time 3156013400, :process 1, :type :ok, :index 28}
{:f :cbcast, :value [9 11 12], :time 3363644700, :process 2, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 3481125200, :process 2, :type :invoke, :index 30}
{:f :cbcast, :value [13 15], :time 3489210500, :process 2, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3578321300, :process 1, :type :invoke, :index 32}
{:f :cbcast, :value 18, :time 3721056800, :process 2, :type :invoke, :index 33}
{:f :cbcast, :value [], :time 3728554100, :process 2, :type :ok, :index 34}
{:f :cbcast, :value [14], :time 3742447800, :process 1, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 4072170900, :process 1, :type :invoke, :index 36}
{:f :cbcast, :value 20, :time 4363471400, :process 0, :type :invoke, :index 37}
{:f :cbcast, :value [12 10 13 15 16 14 18 17], :time 4415654400, :process 0, :type :ok, :index 38}
{:f :cbcast, :value [16 18], :time 4595762700, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 4596024400, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [20], :time 4601286000, :process 1, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 4946896900, :process 1, :type :invoke, :index 42}
{:f :cbcast, :value [], :time 4953294500, :process 1, :type :ok, :index 43}
