{:index 0, :time 10380200, :type :invoke, :process 0, :f :lock, :value nil}
{:index 1, :time 18995600, :type :ok, :process 0, :f :lock, :value nil}
{:index 2, :time 351362700, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 3, :time 701716700, :type :invoke, :process 1, :f :lock, :value nil}
{:index 4, :time 907452700, :type :invoke, :process 2, :f :lock, :value nil}
{:index 5, :time 1114648000, :type :invoke, :process 3, :f :lock, :value nil}
{:index 6, :time 5354792000, :type :info, :process 0, :f :unlock, :value nil, :error :net-timeout}
{:index 7, :time 5706289400, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5912841800, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 9, :time 6118112700, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
