{:index 0, :time 9932100, :type :invoke, :process 0, :f :lock, :value nil}
{:index 1, :time 18356900, :type :ok, :process 0, :f :lock, :value nil}
{:index 2, :time 344616400, :type :invoke, :process 2, :f :lock, :value nil}
{:index 3, :time 658603900, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 4, :time 913385400, :type :invoke, :process 1, :f :lock, :value nil}
{:index 5, :time 1004711300, :type :invoke, :process 3, :f :lock, :value nil}
{:index 6, :time 5347674900, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 7, :time 5659281500, :type :info, :process 0, :f :unlock, :value nil, :error :net-timeout}
{:index 8, :time 5916224600, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 9, :time 6008187100, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
