{:index 0, :time 14848400, :type :invoke, :process 2, :f :lock, :value nil}
{:index 1, :time 24217200, :type :ok, :process 2, :f :lock, :value nil}
{:index 2, :time 232189000, :type :invoke, :process 1, :f :lock, :value nil}
{:index 3, :time 625222300, :type :invoke, :process 3, :f :lock, :value nil}
{:index 4, :time 953592600, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 5, :time 1035773600, :type :invoke, :process 0, :f :lock, :value nil}
{:index 6, :time 5235003600, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 7, :time 5626619600, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5954740800, :type :info, :process 2, :f :unlock, :value nil, :error :net-timeout}
{:index 9, :time 6038653900, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
