{:f :cbcast, :value 1, :time 29730300, :process 2, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 38458600, :process 2, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 215482200, :process 2, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 218892000, :process 2, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 436647400, :process 2, :type :invoke, :index 4}
{:f :cbcast, :value [], :time 439207600, :process 2, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 777425400, :process 0, :type :invoke, :index 6}
{:f :cbcast, :value 5, :time 868907600, :process 2, :type :invoke, :index 7}
{:f :cbcast, :value [], :time 871359200, :process 2, :type :ok, :index 8}
{:f :cbcast, :value 6, :time 1134926100, :process 1, :type :invoke, :index 9}
{:f :cbcast, :value [1 2 3], :time 1167092200, :process 0, :type :ok, :index 10}
{:f :cbcast, :value 7, :time 1313710800, :process 2, :type :invoke, :index 11}
{:f :cbcast, :value 8, :time 1479671000, :process 0, :type :invoke, :index 12}
{:f :cbcast, :value [1 2 3 5], :time 1516742700, :process 1, :type :ok, :index 13}
{:f :cbcast, :value [4], :time 1692753200, :process 2, :type :ok, :index 14}
{:f :cbcast, :value [5], :time 1722593000, :process 0, :type :ok, :index 15}
{:f :cbcast, :value 9, :time 1785199700, :process 1, :type :invoke, :index 16}
{:f :cbcast, :value 10, :time 1902155500, :process 0, :type :invoke, :index 17}
{:f :cbcast, :value [4 7], :time 1994206400, :process 1, :type :ok, :index 18}
{:f :cbcast, :value 11, :time 2159528900, :process 1, :type :invoke, :index 19}
{:f :cbcast, :value 12, :time 2300058000, :process 2, :type :invoke, :index 20}
{:f :cbcast, :value [8], :time 2600892300, :process 1, :type :ok, :index 21}
{:f :cbcast, :value [6 7], :time 2619619500, :process 0, :type :ok, :index 22}
{:f :cbcast, :value [6 8], :time 2638714700, :process 2, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2671481400, :process 1, :type :invoke, :index 24}
{:f :cbcast, :value 14, :time 3071118700, :process 2, :type :invoke, :index 25}
{:f :cbcast, :value [9 11 10], :time 3165861100, :process 2, :type :ok, :index 26}
{:f :cbcast, :value 15, :time 3216142000, :process 2, :type :invoke, :index 27}
{:f :cbcast, :value [], :time 3219202000, :process 2, :type :ok, :index 28}
{:f :cbcast, :value [10], :time 3577309800, :process 1, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 3596673300, :process 2, :type :invoke, :index 30}
{:f :cbcast, :value [13], :time 3775771300, :process 2, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3797546800, :process 1, :type :invoke, :index 32}
{:f :cbcast, :value [12 14 15], :time 4040572600, :process 1, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 4162537700, :process 2, :type :invoke, :index 34}
{:f :cbcast, :value 19, :time 4511987200, :process 0, :type :invoke, :index 35}
{:f :cbcast, :value [17], :time 4587134100, :process 2, :type :ok, :index 36}
{:f :cbcast, :value [11 9 12 14 15 13 16], :time 4670006600, :process 0, :type :ok, :index 37}
{:f :cbcast, :value 20, :time 4870772800, :process 0, :type :invoke, :index 38}
{:f :cbcast, :value 21, :time 4989266000, :process 1, :type :invoke, :index 39}
{:f :cbcast, :value [17 18], :time 5102487100, :process 0, :type :ok, :index 40}
{:f :cbcast, :value [16 18 19], :time 5278120400, :process 1, :type :ok, :index 41}
