{:index 0, :time 12019200, :type :invoke, :process 1, :f :lock, :value nil}
{:index 1, :time 21030400, :type :ok, :process 1, :f :lock, :value nil}
{:index 2, :time 301061300, :type :invoke, :process 2, :f :lock, :value nil}
{:index 3, :time 578517900, :type :invoke, :process 0, :f :lock, :value nil}
{:index 4, :time 700074000, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 5, :time 702783900, :type :ok, :process 1, :f :unlock, :value nil}
{:index 6, :time 853160900, :type :invoke, :process 3, :f :lock, :value nil}
{:index 7, :time 857241700, :type :ok, :process 3, :f :lock, :value nil}
{:index 8, :time 1051500300, :type :invoke, :process 1, :f :lock, :value nil}
{:index 9, :time 1175949800, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 10, :time 1178288800, :type :ok, :process 3, :f :unlock, :value nil}
{:index 11, :time 1201354600, :type :invoke, :process 3, :f :lock, :value nil}
{:index 12, :time 1204991800, :type :ok, :process 1, :f :lock, :value nil}
{:index 13, :time 1289648000, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 14, :time 1292374300, :type :ok, :process 1, :f :unlock, :value nil}
{:index 15, :time 1490381400, :type :invoke, :process 1, :f :lock, :value nil}
{:index 16, :time 1494102900, :type :ok, :process 3, :f :lock, :value nil}
{:index 17, :time 1840166000, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 18, :time 1842967500, :type :ok, :process 3, :f :unlock, :value nil}
{:index 19, :time 2191267300, :type :invoke, :process 3, :f :lock, :value nil}
{:index 20, :time 2195207500, :type :ok, :process 1, :f :lock, :value nil}
{:index 21, :time 2415753900, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 22, :time 2418129600, :type :ok, :process 1, :f :unlock, :value nil}
{:index 23, :time 2802762100, :type :invoke, :process 1, :f :lock, :value nil}
{:index 24, :time 5303692100, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 25, :time 5580319700, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
{:index 26, :time 7192351300, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 27, :time 7804002400, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
