{:index 0, :time 12023000, :type :invoke, :process 3, :f :lock, :value nil}
{:index 1, :time 24232800, :type :ok, :process 3, :f :lock, :value nil}
{:index 2, :time 209143000, :type :invoke, :process 1, :f :lock, :value nil}
{:index 3, :time 505887900, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 4, :time 508987300, :type :ok, :process 3, :f :unlock, :value nil}
{:index 5, :time 531909800, :type :invoke, :process 0, :f :lock, :value nil}
{:index 6, :time 537704100, :type :ok, :process 0, :f :lock, :value nil}
{:index 7, :time 644835800, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 8, :time 648283000, :type :ok, :process 0, :f :unlock, :value nil}
{:index 9, :time 649501400, :type :ok, :process 1, :f :lock, :value nil}
{:index 10, :time 954751500, :type :invoke, :process 3, :f :lock, :value nil}
{:index 11, :time 1140076000, :type :invoke, :process 0, :f :lock, :value nil}
{:index 12, :time 1494932200, :type :invoke, :process 2, :f :lock, :value nil}
{:index 13, :time 1866282200, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 14, :time 1868687300, :type :ok, :process 1, :f :unlock, :value nil}
{:index 15, :time 1869051500, :type :ok, :process 0, :f :lock, :value nil}
{:index 16, :time 1979564700, :type :invoke, :process 1, :f :lock, :value nil}
{:index 17, :time 2173789500, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 18, :time 2176239500, :type :ok, :process 2, :f :lock, :value nil}
{:index 19, :time 2176368900, :type :ok, :process 0, :f :unlock, :value nil}
{:index 20, :time 2477220800, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 21, :time 2495079600, :type :invoke, :process 0, :f :lock, :value nil}
{:index 22, :time 5956961800, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 23, :time 6980510900, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 24, :time 7477962400, :type :info, :process 2, :f :unlock, :value nil, :error :net-timeout}
{:index 25, :time 7495632400, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
