{:index 0, :time 10747600, :type :invoke, :process 2, :f :lock, :value nil}
{:index 1, :time 19544900, :type :ok, :process 2, :f :lock, :value nil}
{:index 2, :time 239924300, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 3, :time 242846000, :type :ok, :process 2, :f :unlock, :value nil}
{:index 4, :time 563865500, :type :invoke, :process 2, :f :lock, :value nil}
{:index 5, :time 776807100, :type :invoke, :process 1, :f :lock, :value nil}
{:index 6, :time 903589500, :type :invoke, :process 3, :f :lock, :value nil}
{:index 7, :time 1065260800, :type :invoke, :process 0, :f :lock, :value nil}
{:index 8, :time 5565700200, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 9, :time 5778525000, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 10, :time 5905441200, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 11, :time 6067005200, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
