{:index 0, :time 10556400, :type :invoke, :process 3, :f :lock, :value nil}
{:index 1, :time 20163100, :type :ok, :process 3, :f :lock, :value nil}
{:index 2, :time 91177100, :type :invoke, :process 2, :f :lock, :value nil}
{:index 3, :time 164955600, :type :invoke, :process 0, :f :lock, :value nil}
{:index 4, :time 282332300, :type :invoke, :process 1, :f :lock, :value nil}
{:index 5, :time 377764200, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 6, :time 5093445600, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 7, :time 5166206200, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5283817300, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 9, :time 5378843900, :type :info, :process 3, :f :unlock, :value nil, :error :net-timeout}
