{:f :cbcast, :value 1, :time 18128500, :process 2, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 29088400, :process 2, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 260105200, :process 2, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 263251900, :process 2, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 578696100, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value 4, :time 746129600, :process 0, :type :invoke, :index 5}
{:f :cbcast, :value 5, :time 880093700, :process 2, :type :invoke, :index 6}
{:f :cbcast, :value [], :time 882913900, :process 2, :type :ok, :index 7}
{:f :cbcast, :value [1 2], :time 900758500, :process 1, :type :ok, :index 8}
{:f :cbcast, :value 6, :time 957862500, :process 1, :type :invoke, :index 9}
{:f :cbcast, :value [1], :time 1017114100, :process 0, :type :ok, :index 10}
{:f :cbcast, :value 7, :time 1054097600, :process 0, :type :invoke, :index 11}
{:f :cbcast, :value 8, :time 1096508800, :process 2, :type :invoke, :index 12}
{:f :cbcast, :value [3 4], :time 1098898000, :process 2, :type :ok, :index 13}
{:f :cbcast, :value 9, :time 1142358800, :process 2, :type :invoke, :index 14}
{:f :cbcast, :value [], :time 1145661400, :process 2, :type :ok, :index 15}
{:f :cbcast, :value 10, :time 1321442200, :process 2, :type :invoke, :index 16}
{:f :cbcast, :value [], :time 1323945300, :process 2, :type :ok, :index 17}
{:f :cbcast, :value [5], :time 1452744100, :process 1, :type :ok, :index 18}
{:f :cbcast, :value [2 3 5], :time 1458227900, :process 0, :type :ok, :index 19}
{:f :cbcast, :value 11, :time 1713825500, :process 0, :type :invoke, :index 20}
{:f :cbcast, :value [8 9 6], :time 1955875100, :process 0, :type :ok, :index 21}
{:f :cbcast, :value 12, :time 2112529800, :process 0, :type :invoke, :index 22}
{:f :cbcast, :value [10], :time 2115010500, :process 0, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2470743800, :process 1, :type :invoke, :index 24}
{:f :cbcast, :value 14, :time 2569254300, :process 0, :type :invoke, :index 25}
{:f :cbcast, :value [], :time 2571661500, :process 0, :type :ok, :index 26}
{:f :cbcast, :value [4 7 8 9 10 11], :time 2745681500, :process 1, :type :ok, :index 27}
{:f :cbcast, :value 15, :time 2893324700, :process 2, :type :invoke, :index 28}
{:f :cbcast, :value 16, :time 3034772400, :process 1, :type :invoke, :index 29}
{:f :cbcast, :value [6 7 11 12 14], :time 3042164400, :process 2, :type :ok, :index 30}
{:f :cbcast, :value [12 14], :time 3157188900, :process 1, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3385310600, :process 2, :type :invoke, :index 32}
{:f :cbcast, :value [13 16], :time 3740049000, :process 2, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 3742151100, :process 2, :type :invoke, :index 34}
{:f :cbcast, :value [], :time 3744342000, :process 2, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 3995198800, :process 1, :type :invoke, :index 36}
{:f :cbcast, :value 20, :time 4239000900, :process 0, :type :invoke, :index 37}
{:f :cbcast, :value [15 17 18], :time 4377039800, :process 1, :type :ok, :index 38}
{:f :cbcast, :value [13 15 16 17 18], :time 4423336400, :process 0, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 4497113900, :process 2, :type :invoke, :index 40}
{:f :cbcast, :value 22, :time 4817942100, :process 1, :type :invoke, :index 41}
{:f :cbcast, :value [20], :time 5013878600, :process 1, :type :ok, :index 42}
{:f :cbcast, :value [19], :time 5246927500, :process 2, :type :ok, :index 43}
