{:f :cbcast, :value 1, :time 16564200, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 27320200, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 200141100, :process 0, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 203371700, :process 0, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 487661200, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value [1 2], :time 491174800, :process 1, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 669005100, :process 0, :type :invoke, :index 6}
{:f :cbcast, :value [3], :time 671834700, :process 0, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 891203100, :process 0, :type :invoke, :index 8}
{:f :cbcast, :value [], :time 893595100, :process 0, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 896247800, :process 2, :type :invoke, :index 10}
{:f :cbcast, :value [1 2 3 4 5], :time 899267000, :process 2, :type :ok, :index 11}
{:f :cbcast, :value 7, :time 1159772700, :process 2, :type :invoke, :index 12}
{:f :cbcast, :value [], :time 1162231700, :process 2, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1466793600, :process 1, :type :invoke, :index 14}
{:f :cbcast, :value [4 5 6 7], :time 1469320900, :process 1, :type :ok, :index 15}
{:f :cbcast, :value 9, :time 1505244300, :process 0, :type :invoke, :index 16}
{:f :cbcast, :value [6 7 8], :time 1508974400, :process 0, :type :ok, :index 17}
{:f :cbcast, :value 10, :time 1613052700, :process 2, :type :invoke, :index 18}
{:f :cbcast, :value [8 9], :time 1615887600, :process 2, :type :ok, :index 19}
{:f :cbcast, :value 11, :time 1876597500, :process 1, :type :invoke, :index 20}
{:f :cbcast, :value [9 10], :time 1879285700, :process 1, :type :ok, :index 21}
{:f :cbcast, :value 12, :time 2039725800, :process 0, :type :invoke, :index 22}
{:f :cbcast, :value [10 11], :time 2043614200, :process 0, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2429241500, :process 0, :type :invoke, :index 24}
{:f :cbcast, :value [], :time 2432201900, :process 0, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2533406300, :process 2, :type :invoke, :index 26}
{:f :cbcast, :value [11 12 13], :time 2536122900, :process 2, :type :ok, :index 27}
{:f :cbcast, :value 15, :time 2595720100, :process 1, :type :invoke, :index 28}
{:f :cbcast, :value [12 13 14], :time 2598269800, :process 1, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 2714372500, :process 1, :type :invoke, :index 30}
{:f :cbcast, :value [], :time 2716536500, :process 1, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3098659000, :process 2, :type :invoke, :index 32}
{:f :cbcast, :value [15 16], :time 3100955000, :process 2, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 3248834900, :process 1, :type :invoke, :index 34}
{:f :cbcast, :value [17], :time 3251820500, :process 1, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 3531034900, :process 2, :type :invoke, :index 36}
{:f :cbcast, :value [18], :time 3533668600, :process 2, :type :ok, :index 37}
{:f :cbcast, :value 20, :time 3721649100, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [19], :time 3723654200, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 3941353300, :process 2, :type :invoke, :index 40}
{:f :cbcast, :value [20], :time 3944511200, :process 2, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 4079489600, :process 1, :type :invoke, :index 42}
{:f :cbcast, :value [21], :time 4082158800, :process 1, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 4479327100, :process 0, :type :invoke, :index 44}
{:f :cbcast, :value [14 15 16 17 18 19 20 21 22], :time 4482060900, :process 0, :type :ok, :index 45}
{:f :cbcast, :value 24, :time 4752357700, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [23], :time 4754680800, :process 1, :type :ok, :index 47}
{:f :cbcast, :value 25, :time 4902232100, :process 1, :type :invoke, :index 48}
{:f :cbcast, :value [], :time 4904948800, :process 1, :type :ok, :index 49}
