{:f :cbcast, :value 1, :time 8868600, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 15029000, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 403076300, :process 0, :type :invoke, :index 2}
{:f :cbcast, :value [1], :time 405858400, :process 0, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 504533400, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value 4, :time 529068200, :process 2, :type :invoke, :index 5}
{:f :cbcast, :value 5, :time 559663700, :process 0, :type :invoke, :index 6}
{:f :cbcast, :value [2], :time 569335200, :process 0, :type :ok, :index 7}
{:f :cbcast, :value 6, :time 585306900, :process 0, :type :invoke, :index 8}
{:f :cbcast, :value [5], :time 587894300, :process 0, :type :ok, :index 9}
{:f :cbcast, :value 7, :time 588013100, :process 0, :type :invoke, :index 10}
{:f :cbcast, :value [6], :time 590442600, :process 0, :type :ok, :index 11}
{:f :cbcast, :value 8, :time 749844500, :process 0, :type :invoke, :index 12}
{:f :cbcast, :value [7], :time 752236400, :process 0, :type :ok, :index 13}
{:f :cbcast, :value 9, :time 945390100, :process 0, :type :invoke, :index 14}
{:f :cbcast, :value [8], :time 947761300, :process 0, :type :ok, :index 15}
{:f :cbcast, :value [1], :time 1014116700, :process 1, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 1220940300, :process 0, :type :invoke, :index 17}
{:f :cbcast, :value 11, :time 1310686400, :process 1, :type :invoke, :index 18}
{:f :cbcast, :value [3 2 5 7 8], :time 1389110300, :process 1, :type :ok, :index 19}
{:f :cbcast, :value [1 2], :time 1396726300, :process 2, :type :ok, :index 20}
{:f :cbcast, :value 12, :time 1689742000, :process 2, :type :invoke, :index 21}
{:f :cbcast, :value [9 3], :time 1893766800, :process 0, :type :ok, :index 22}
{:f :cbcast, :value 13, :time 1964199900, :process 1, :type :invoke, :index 23}
{:f :cbcast, :value [4 7 8 5 9 6 11 3], :time 2038911900, :process 2, :type :ok, :index 24}
{:f :cbcast, :value [11 6 9], :time 2040679600, :process 1, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2241089800, :process 1, :type :invoke, :index 26}
{:f :cbcast, :value [13 10], :time 2345015500, :process 1, :type :ok, :index 27}
{:f :cbcast, :value 15, :time 2484278300, :process 1, :type :invoke, :index 28}
{:f :cbcast, :value 16, :time 2778190000, :process 0, :type :invoke, :index 29}
{:f :cbcast, :value [14 12 4], :time 2812227600, :process 1, :type :ok, :index 30}
{:f :cbcast, :value 17, :time 2907558000, :process 1, :type :invoke, :index 31}
{:f :cbcast, :value [15], :time 2909757500, :process 1, :type :ok, :index 32}
{:f :cbcast, :value [10 11 13 14 12 4], :time 2916318500, :process 0, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 3185663000, :process 2, :type :invoke, :index 34}
{:f :cbcast, :value [12 13 15 14 16 10], :time 3323397900, :process 2, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 3461254300, :process 2, :type :invoke, :index 36}
{:f :cbcast, :value 20, :time 3630740200, :process 1, :type :invoke, :index 37}
{:f :cbcast, :value [17 16 18], :time 3749692300, :process 1, :type :ok, :index 38}
{:f :cbcast, :value [18], :time 3783072100, :process 2, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 3783169600, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value 22, :time 4076252400, :process 0, :type :invoke, :index 41}
{:f :cbcast, :value [20 19], :time 4106394500, :process 1, :type :ok, :index 42}
{:f :cbcast, :value 23, :time 4406053600, :process 2, :type :invoke, :index 43}
{:f :cbcast, :value 24, :time 4620607500, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value [21], :time 4623220800, :process 1, :type :ok, :index 45}
{:f :cbcast, :value [16 15 17 19 18], :time 4676819700, :process 0, :type :ok, :index 46}
{:f :cbcast, :value [19 20 17 21], :time 4695025400, :process 2, :type :ok, :index 47}
{:f :cbcast, :value 25, :time 4873355400, :process 2, :type :invoke, :index 48}
{:f :cbcast, :value 26, :time 4879235700, :process 1, :type :invoke, :index 49}
{:f :cbcast, :value [23 24], :time 5370836700, :process 2, :type :ok, :index 50}
{:f :cbcast, :value [24 22], :time 5450483400, :process 1, :type :ok, :index 51}
