{:f :cbcast, :value 1, :time 21533100, :process 3, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 32188000, :process 3, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 325296500, :process 3, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 327968400, :process 3, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 339053600, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value 4, :time 503728600, :process 2, :type :invoke, :index 5}
{:f :cbcast, :value [1], :time 663716900, :process 2, :type :ok, :index 6}
{:f :cbcast, :value 5, :time 843049700, :process 0, :type :invoke, :index 7}
{:f :cbcast, :value [1 2], :time 1136171100, :process 1, :type :ok, :index 8}
{:f :cbcast, :value [1 2 4], :time 1149108800, :process 0, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 1158117600, :process 1, :type :invoke, :index 10}
{:f :cbcast, :value 7, :time 1317773900, :process 0, :type :invoke, :index 11}
{:f :cbcast, :value [3], :time 1320077600, :process 0, :type :ok, :index 12}
{:f :cbcast, :value [4], :time 1391186100, :process 1, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1520218900, :process 2, :type :invoke, :index 14}
{:f :cbcast, :value 9, :time 1539430900, :process 0, :type :invoke, :index 15}
{:f :cbcast, :value 10, :time 1824091200, :process 3, :type :invoke, :index 16}
{:f :cbcast, :value [2 3], :time 1951805600, :process 2, :type :ok, :index 17}
{:f :cbcast, :value 11, :time 1960698700, :process 2, :type :invoke, :index 18}
{:f :cbcast, :value [4 3 6 5 7], :time 2082105000, :process 3, :type :ok, :index 19}
{:f :cbcast, :value [6], :time 2124996500, :process 0, :type :ok, :index 20}
{:f :cbcast, :value 12, :time 2150764300, :process 1, :type :invoke, :index 21}
{:f :cbcast, :value [5 6 7], :time 2279234200, :process 2, :type :ok, :index 22}
{:f :cbcast, :value 13, :time 2387058100, :process 2, :type :invoke, :index 23}
{:f :cbcast, :value 14, :time 2615286700, :process 0, :type :invoke, :index 24}
{:f :cbcast, :value 15, :time 2637773700, :process 3, :type :invoke, :index 25}
{:f :cbcast, :value [8], :time 2821126800, :process 3, :type :ok, :index 26}
{:f :cbcast, :value [9 10], :time 2826788300, :process 2, :type :ok, :index 27}
{:f :cbcast, :value [5 7 8 10], :time 2937139100, :process 1, :type :ok, :index 28}
{:f :cbcast, :value 16, :time 2985762400, :process 3, :type :invoke, :index 29}
{:f :cbcast, :value [8 11 10], :time 3061233600, :process 0, :type :ok, :index 30}
{:f :cbcast, :value 17, :time 3141189300, :process 1, :type :invoke, :index 31}
{:f :cbcast, :value 18, :time 3150249800, :process 2, :type :invoke, :index 32}
{:f :cbcast, :value [15], :time 3272659700, :process 2, :type :ok, :index 33}
{:f :cbcast, :value [11 9 13], :time 3419887100, :process 3, :type :ok, :index 34}
{:f :cbcast, :value 19, :time 3483639700, :process 2, :type :invoke, :index 35}
{:f :cbcast, :value 20, :time 3802334200, :process 3, :type :invoke, :index 36}
{:f :cbcast, :value [14 12 18], :time 3804367100, :process 3, :type :ok, :index 37}
{:f :cbcast, :value [9 11 13 15 14], :time 3823495800, :process 1, :type :ok, :index 38}
{:f :cbcast, :value [12 14], :time 4043939200, :process 2, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 4166873400, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [18 16 20 19], :time 4200171900, :process 1, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 4307282200, :process 1, :type :invoke, :index 42}
{:f :cbcast, :value [], :time 4310095200, :process 1, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 4455880300, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value [], :time 4458038200, :process 1, :type :ok, :index 45}
{:f :cbcast, :value 24, :time 4824825000, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [], :time 4828201400, :process 1, :type :ok, :index 47}
