{:f :cbcast, :value 1, :time 8802000, :process 1, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 18826000, :process 1, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 334999900, :process 0, :type :invoke, :index 2}
{:f :cbcast, :value [1], :time 338458900, :process 0, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 497776900, :process 0, :type :invoke, :index 4}
{:f :cbcast, :value [], :time 500244000, :process 0, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 785711200, :process 1, :type :invoke, :index 6}
{:f :cbcast, :value [2 3], :time 788536300, :process 1, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 848620700, :process 2, :type :invoke, :index 8}
{:f :cbcast, :value [1 2 3 4], :time 940948500, :process 2, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 1044750800, :process 2, :type :invoke, :index 10}
{:f :cbcast, :value [], :time 1047506700, :process 2, :type :ok, :index 11}
{:f :cbcast, :value 7, :time 1171908600, :process 0, :type :invoke, :index 12}
{:f :cbcast, :value [4 6], :time 1358702800, :process 0, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1371167600, :process 2, :type :invoke, :index 14}
{:f :cbcast, :value 9, :time 1686556000, :process 0, :type :invoke, :index 15}
{:f :cbcast, :value [5], :time 1801321900, :process 0, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 2014363200, :process 0, :type :invoke, :index 17}
{:f :cbcast, :value [], :time 2016642800, :process 0, :type :ok, :index 18}
{:f :cbcast, :value 11, :time 2176875700, :process 1, :type :invoke, :index 19}
{:f :cbcast, :value [5 6 7 9 10], :time 2179205800, :process 1, :type :ok, :index 20}
{:f :cbcast, :value 12, :time 2191969300, :process 0, :type :invoke, :index 21}
{:f :cbcast, :value 13, :time 2247972300, :process 1, :type :invoke, :index 22}
{:f :cbcast, :value [], :time 2250504400, :process 1, :type :ok, :index 23}
{:f :cbcast, :value [7], :time 2326841700, :process 2, :type :ok, :index 24}
{:f :cbcast, :value [11], :time 2474878400, :process 0, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2547891900, :process 2, :type :invoke, :index 26}
{:f :cbcast, :value 15, :time 2676795200, :process 1, :type :invoke, :index 27}
{:f :cbcast, :value 16, :time 2699459100, :process 0, :type :invoke, :index 28}
{:f :cbcast, :value [13], :time 2748203400, :process 0, :type :ok, :index 29}
{:f :cbcast, :value [10 13 9 11], :time 3060766200, :process 2, :type :ok, :index 30}
{:f :cbcast, :value 17, :time 3089152800, :process 0, :type :invoke, :index 31}
{:f :cbcast, :value [8 12], :time 3115695800, :process 1, :type :ok, :index 32}
{:f :cbcast, :value 18, :time 3280948100, :process 1, :type :invoke, :index 33}
{:f :cbcast, :value 19, :time 3485428800, :process 2, :type :invoke, :index 34}
{:f :cbcast, :value [8 14], :time 3606377000, :process 0, :type :ok, :index 35}
{:f :cbcast, :value 20, :time 3606442500, :process 0, :type :invoke, :index 36}
{:f :cbcast, :value [16 14], :time 3655012500, :process 1, :type :ok, :index 37}
{:f :cbcast, :value 21, :time 3831727100, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [17], :time 3833973000, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 22, :time 3862325400, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [], :time 3864428700, :process 1, :type :ok, :index 41}
{:f :cbcast, :value [16 12 15], :time 3905115500, :process 2, :type :ok, :index 42}
{:f :cbcast, :value 23, :time 3943391000, :process 2, :type :invoke, :index 43}
{:f :cbcast, :value 24, :time 3997025300, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value [19], :time 4025612500, :process 1, :type :ok, :index 45}
{:f :cbcast, :value 25, :time 4028701800, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [], :time 4030524200, :process 1, :type :ok, :index 47}
{:f :cbcast, :value [15], :time 4041574300, :process 0, :type :ok, :index 48}
{:f :cbcast, :value [22 17], :time 4171523500, :process 2, :type :ok, :index 49}
{:f :cbcast, :value 26, :time 4378372900, :process 2, :type :invoke, :index 50}
{:f :cbcast, :value [20 24], :time 4384920500, :process 2, :type :ok, :index 51}
{:f :cbcast, :value 27, :time 4702264400, :process 0, :type :invoke, :index 52}
{:f :cbcast, :value 28, :time 4704524800, :process 2, :type :invoke, :index 53}
{:f :cbcast, :value [21 25 22 26 18 19], :time 4850783800, :process 0, :type :ok, :index 54}
{:f :cbcast, :value [21 18 25], :time 4945570800, :process 2, :type :ok, :index 55}
{:f :cbcast, :value 29, :time 4958842700, :process 1, :type :invoke, :index 56}
{:f :cbcast, :value [20 23], :time 4967945700, :process 1, :type :ok, :index 57}
