{:index 0, :time 10909000, :type :invoke, :process 0, :f :lock, :value nil}
{:index 1, :time 19183200, :type :ok, :process 0, :f :lock, :value nil}
{:index 2, :time 362562600, :type :invoke, :process 1, :f :lock, :value nil}
{:index 3, :time 580789600, :type :invoke, :process 3, :f :lock, :value nil}
{:index 4, :time 618561700, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 5, :time 694706500, :type :invoke, :process 2, :f :lock, :value nil}
{:index 6, :time 5365621900, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 7, :time 5582398100, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5619907400, :type :info, :process 0, :f :unlock, :value nil, :error :net-timeout}
{:index 9, :time 5697264900, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
