{:index 0, :time 11121500, :type :invoke, :process 0, :f :lock, :value nil}
{:index 1, :time 21341300, :type :ok, :process 0, :f :lock, :value nil}
{:index 2, :time 91089700, :type :invoke, :process 1, :f :lock, :value nil}
{:index 3, :time 206487700, :type :invoke, :process 3, :f :lock, :value nil}
{:index 4, :time 543198300, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 5, :time 697781300, :type :invoke, :process 2, :f :lock, :value nil}
{:index 6, :time 5102031200, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 7, :time 5208230400, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 8, :time 5544242500, :type :info, :process 0, :f :unlock, :value nil, :error :net-timeout}
{:index 9, :time 5700364000, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
