{:f :cbcast, :value 1, :time 16331300, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 23426300, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 334587800, :process 0, :type :invoke, :index 2}
{:f :cbcast, :value [], :time 337714600, :process 0, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 440941200, :process 2, :type :invoke, :index 4}
{:f :cbcast, :value [1], :time 468191100, :process 2, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 497067700, :process 1, :type :invoke, :index 6}
{:f :cbcast, :value 5, :time 581187200, :process 2, :type :invoke, :index 7}
{:f :cbcast, :value [1 2], :time 659067000, :process 1, :type :ok, :index 8}
{:f :cbcast, :value [2], :time 793942900, :process 2, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 925094100, :process 0, :type :invoke, :index 10}
{:f :cbcast, :value 7, :time 1242392200, :process 1, :type :invoke, :index 11}
{:f :cbcast, :value [3 5], :time 1244760800, :process 1, :type :ok, :index 12}
{:f :cbcast, :value [3 4], :time 1312448200, :process 0, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1398609100, :process 1, :type :invoke, :index 14}
{:f :cbcast, :value 9, :time 1540964800, :process 2, :type :invoke, :index 15}
{:f :cbcast, :value [4 7 6], :time 1695689400, :process 2, :type :ok, :index 16}
{:f :cbcast, :value 10, :time 1776169400, :process 0, :type :invoke, :index 17}
{:f :cbcast, :value 11, :time 1788002900, :process 2, :type :invoke, :index 18}
{:f :cbcast, :value [], :time 1790378200, :process 2, :type :ok, :index 19}
{:f :cbcast, :value 12, :time 1992447000, :process 2, :type :invoke, :index 20}
{:f :cbcast, :value [], :time 1995233200, :process 2, :type :ok, :index 21}
{:f :cbcast, :value [5 7], :time 2059990900, :process 0, :type :ok, :index 22}
{:f :cbcast, :value 13, :time 2087869400, :process 0, :type :invoke, :index 23}
{:f :cbcast, :value 14, :time 2097835500, :process 2, :type :invoke, :index 24}
{:f :cbcast, :value [6], :time 2223504200, :process 1, :type :ok, :index 25}
{:f :cbcast, :value [9 11], :time 2262590800, :process 0, :type :ok, :index 26}
{:f :cbcast, :value 15, :time 2343623700, :process 1, :type :invoke, :index 27}
{:f :cbcast, :value [9 10 11 12], :time 2594361700, :process 1, :type :ok, :index 28}
{:f :cbcast, :value [10], :time 2594480100, :process 2, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 2693362500, :process 2, :type :invoke, :index 30}
{:f :cbcast, :value 17, :time 2792644300, :process 0, :type :invoke, :index 31}
{:f :cbcast, :value [8], :time 3092396600, :process 2, :type :ok, :index 32}
{:f :cbcast, :value 18, :time 3152233300, :process 2, :type :invoke, :index 33}
{:f :cbcast, :value [13 15], :time 3154489000, :process 2, :type :ok, :index 34}
{:f :cbcast, :value [12 8 14], :time 3262540600, :process 0, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 3370338700, :process 0, :type :invoke, :index 36}
{:f :cbcast, :value 20, :time 3504798200, :process 2, :type :invoke, :index 37}
{:f :cbcast, :value 21, :time 3740368600, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [14 16], :time 3790972800, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 22, :time 4066147100, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [], :time 4068544500, :process 1, :type :ok, :index 41}
{:f :cbcast, :value [16 15 18], :time 4097014300, :process 0, :type :ok, :index 42}
{:f :cbcast, :value 23, :time 4175977800, :process 0, :type :invoke, :index 43}
{:f :cbcast, :value [17], :time 4207808300, :process 2, :type :ok, :index 44}
{:f :cbcast, :value 24, :time 4473581600, :process 2, :type :invoke, :index 45}
{:f :cbcast, :value [21 22], :time 4704652100, :process 0, :type :ok, :index 46}
{:f :cbcast, :value 25, :time 4756196100, :process 1, :type :invoke, :index 47}
{:f :cbcast, :value [], :time 4793057600, :process 1, :type :ok, :index 48}
{:f :cbcast, :value 26, :time 4884559700, :process 0, :type :invoke, :index 49}
{:f :cbcast, :value 27, :time 4900017500, :process 1, :type :invoke, :index 50}
{:f :cbcast, :value [], :time 4902103000, :process 1, :type :ok, :index 51}
{:f :cbcast, :value 28, :time 4999063900, :process 1, :type :invoke, :index 52}
{:f :cbcast, :value [], :time 5001448900, :process 1, :type :ok, :index 53}
{:f :cbcast, :value [21 22 19], :time 5053652800, :process 2, :type :ok, :index 54}
{:f :cbcast, :value [20], :time 5075380800, :process 0, :type :ok, :index 55}
