{:index 0, :time 11613900, :type :invoke, :process 0, :f :lock, :value nil}
{:index 1, :time 20269500, :type :ok, :process 0, :f :lock, :value nil}
{:index 2, :time 61578200, :type :invoke, :process 3, :f :lock, :value nil}
{:index 3, :time 451107500, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 4, :time 454256100, :type :ok, :process 0, :f :unlock, :value nil}
{:index 5, :time 455055800, :type :ok, :process 3, :f :lock, :value nil}
{:index 6, :time 594901900, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 7, :time 597862200, :type :ok, :process 3, :f :unlock, :value nil}
{:index 8, :time 970297700, :type :invoke, :process 2, :f :lock, :value nil}
{:index 9, :time 974810100, :type :ok, :process 2, :f :lock, :value nil}
{:index 10, :time 1297060300, :type :invoke, :process 0, :f :lock, :value nil}
{:index 11, :time 1572044800, :type :invoke, :process 1, :f :lock, :value nil}
{:index 12, :time 1676240600, :type :invoke, :process 3, :f :lock, :value nil}
{:index 13, :time 1830607700, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 14, :time 1832969600, :type :ok, :process 2, :f :unlock, :value nil}
{:index 15, :time 1833602600, :type :ok, :process 1, :f :lock, :value nil}
{:index 16, :time 1950949600, :type :invoke, :process 2, :f :lock, :value nil}
{:index 17, :time 2273664600, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 18, :time 2276762800, :type :ok, :process 3, :f :lock, :value nil}
{:index 19, :time 2277110900, :type :ok, :process 1, :f :unlock, :value nil}
{:index 20, :time 2447543300, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 21, :time 2629479700, :type :invoke, :process 1, :f :lock, :value nil}
{:index 22, :time 6299022900, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
{:index 23, :time 6951974100, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 24, :time 7448509000, :type :info, :process 3, :f :unlock, :value nil, :error :net-timeout}
{:index 25, :time 7631412800, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
