{:index 0, :time 22637000, :type :invoke, :process 1, :f :lock, :value nil}
{:index 1, :time 50368100, :type :ok, :process 1, :f :lock, :value nil}
{:index 2, :time 312500900, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 3, :time 321531200, :type :ok, :process 1, :f :unlock, :value nil}
{:index 4, :time 671493300, :type :invoke, :process 2, :f :lock, :value nil}
{:index 5, :time 678987100, :type :ok, :process 2, :f :lock, :value nil}
{:index 6, :time 752576300, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 7, :time 755422200, :type :ok, :process 2, :f :unlock, :value nil}
{:index 8, :time 878596100, :type :invoke, :process 0, :f :lock, :value nil}
{:index 9, :time 883397100, :type :ok, :process 0, :f :lock, :value nil}
{:index 10, :time 1203785300, :type :invoke, :process 3, :f :lock, :value nil}
{:index 11, :time 1585915500, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 12, :time 1590531700, :type :ok, :process 0, :f :unlock, :value nil}
{:index 13, :time 1591396900, :type :ok, :process 3, :f :lock, :value nil}
{:index 14, :time 1954814900, :type :invoke, :process 2, :f :lock, :value nil}
{:index 15, :time 2286021600, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 16, :time 2289529600, :type :ok, :process 3, :f :unlock, :value nil}
{:index 17, :time 2290567300, :type :ok, :process 2, :f :lock, :value nil}
{:index 18, :time 2617538600, :type :invoke, :process 3, :f :lock, :value nil}
{:index 19, :time 2775686600, :type :invoke, :process 1, :f :lock, :value nil}
{:index 20, :time 3082689900, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 21, :time 3085091200, :type :ok, :process 2, :f :unlock, :value nil}
{:index 22, :time 3085819800, :type :ok, :process 3, :f :lock, :value nil}
{:index 23, :time 3148868400, :type :invoke, :process 0, :f :lock, :value nil}
{:index 24, :time 3525430300, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 25, :time 3531808900, :type :ok, :process 1, :f :lock, :value nil}
{:index 26, :time 3533462500, :type :ok, :process 3, :f :unlock, :value nil}
{:index 27, :time 3860638500, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 28, :time 3862925500, :type :ok, :process 1, :f :unlock, :value nil}
{:index 29, :time 3863427900, :type :ok, :process 0, :f :lock, :value nil}
{:index 30, :time 4014504500, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 31, :time 4017933300, :type :ok, :process 0, :f :unlock, :value nil}
{:index 32, :time 4318020100, :type :invoke, :process 1, :f :lock, :value nil}
{:index 33, :time 4563826100, :type :invoke, :process 2, :f :lock, :value nil}
{:index 34, :time 4873735300, :type :invoke, :process 0, :f :lock, :value nil}
{:index 35, :time 9320489100, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 36, :time 9565257000, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
{:index 37, :time 9874182300, :type :info, :process 0, :f :lock, :value nil, :error :net-timeout}
