{:f :cbcast, :value 1, :time 15341000, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 25926300, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 366826000, :process 1, :type :invoke, :index 2}
{:f :cbcast, :value [1], :time 370704500, :process 1, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 653102700, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value [], :time 655683600, :process 1, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 1003861400, :process 2, :type :invoke, :index 6}
{:f :cbcast, :value [1 2 3], :time 1007490700, :process 2, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 1095370500, :process 2, :type :invoke, :index 8}
{:f :cbcast, :value [], :time 1097847000, :process 2, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 1327591800, :process 2, :type :invoke, :index 10}
{:f :cbcast, :value 7, :time 1328115700, :process 0, :type :invoke, :index 11}
{:f :cbcast, :value [2 3 4 5], :time 1330523000, :process 0, :type :ok, :index 12}
{:f :cbcast, :value [], :time 1330725300, :process 2, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1628449800, :process 2, :type :invoke, :index 14}
{:f :cbcast, :value [7], :time 1631009000, :process 2, :type :ok, :index 15}
{:f :cbcast, :value 9, :time 1633814100, :process 0, :type :invoke, :index 16}
{:f :cbcast, :value [6 8], :time 1636276900, :process 0, :type :ok, :index 17}
{:f :cbcast, :value 10, :time 1757709700, :process 1, :type :invoke, :index 18}
{:f :cbcast, :value [4 5 7 8 6 9], :time 1760906000, :process 1, :type :ok, :index 19}
{:f :cbcast, :value 11, :time 2114547600, :process 2, :type :invoke, :index 20}
{:f :cbcast, :value [9 10], :time 2116932300, :process 2, :type :ok, :index 21}
{:f :cbcast, :value 12, :time 2134012900, :process 0, :type :invoke, :index 22}
{:f :cbcast, :value [10 11], :time 2136736300, :process 0, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2173113700, :process 0, :type :invoke, :index 24}
{:f :cbcast, :value [], :time 2175777800, :process 0, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2393580700, :process 0, :type :invoke, :index 26}
{:f :cbcast, :value [], :time 2395695000, :process 0, :type :ok, :index 27}
{:f :cbcast, :value 15, :time 2532799600, :process 1, :type :invoke, :index 28}
{:f :cbcast, :value [11 12 13 14], :time 2535203600, :process 1, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 2635517600, :process 1, :type :invoke, :index 30}
{:f :cbcast, :value [], :time 2638195900, :process 1, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3025749900, :process 0, :type :invoke, :index 32}
{:f :cbcast, :value [15 16], :time 3028224000, :process 0, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 3374763200, :process 1, :type :invoke, :index 34}
{:f :cbcast, :value 19, :time 3376431800, :process 2, :type :invoke, :index 35}
{:f :cbcast, :value [17], :time 3377505000, :process 1, :type :ok, :index 36}
{:f :cbcast, :value [12 13 14 15 16 17], :time 3378679500, :process 2, :type :ok, :index 37}
{:f :cbcast, :value 20, :time 3570779600, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [19], :time 3573233800, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 3851268300, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [], :time 3853742700, :process 1, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 4027739700, :process 0, :type :invoke, :index 42}
{:f :cbcast, :value [18 20 21], :time 4029902600, :process 0, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 4334516100, :process 1, :type :invoke, :index 44}
{:f :cbcast, :value [], :time 4337214400, :process 1, :type :ok, :index 45}
{:f :cbcast, :value 24, :time 4673163700, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [], :time 4675282200, :process 1, :type :ok, :index 47}
