{:f :cbcast, :value 1, :time 12443400, :process 0, :type :invoke, :index 0}
{:f :cbcast, :value [], :time 20763600, :process 0, :type :ok, :index 1}
{:f :cbcast, :value 2, :time 380705300, :process 2, :type :invoke, :index 2}
{:f :cbcast, :value [1], :time 392267000, :process 2, :type :ok, :index 3}
{:f :cbcast, :value 3, :time 491155600, :process 1, :type :invoke, :index 4}
{:f :cbcast, :value [1 2], :time 497183400, :process 1, :type :ok, :index 5}
{:f :cbcast, :value 4, :time 568823300, :process 0, :type :invoke, :index 6}
{:f :cbcast, :value [2 3], :time 573232600, :process 0, :type :ok, :index 7}
{:f :cbcast, :value 5, :time 885327600, :process 2, :type :invoke, :index 8}
{:f :cbcast, :value [3 4], :time 889915100, :process 2, :type :ok, :index 9}
{:f :cbcast, :value 6, :time 965877300, :process 2, :type :invoke, :index 10}
{:f :cbcast, :value [], :time 973818300, :process 2, :type :ok, :index 11}
{:f :cbcast, :value 7, :time 1019197900, :process 2, :type :invoke, :index 12}
{:f :cbcast, :value [], :time 1025228700, :process 2, :type :ok, :index 13}
{:f :cbcast, :value 8, :time 1100198900, :process 2, :type :invoke, :index 14}
{:f :cbcast, :value [], :time 1104874700, :process 2, :type :ok, :index 15}
{:f :cbcast, :value 9, :time 1309610200, :process 2, :type :invoke, :index 16}
{:f :cbcast, :value [], :time 1315564400, :process 2, :type :ok, :index 17}
{:f :cbcast, :value 10, :time 1407270500, :process 1, :type :invoke, :index 18}
{:f :cbcast, :value [4 5 6 7 8 9], :time 1413011300, :process 1, :type :ok, :index 19}
{:f :cbcast, :value 11, :time 1461562500, :process 1, :type :invoke, :index 20}
{:f :cbcast, :value [], :time 1466787100, :process 1, :type :ok, :index 21}
{:f :cbcast, :value 12, :time 1834528900, :process 0, :type :invoke, :index 22}
{:f :cbcast, :value [5 6 7 8 9 10 11], :time 1842733200, :process 0, :type :ok, :index 23}
{:f :cbcast, :value 13, :time 2230730200, :process 2, :type :invoke, :index 24}
{:f :cbcast, :value [10 11 12], :time 2234694000, :process 2, :type :ok, :index 25}
{:f :cbcast, :value 14, :time 2547328400, :process 0, :type :invoke, :index 26}
{:f :cbcast, :value [13], :time 2552264400, :process 0, :type :ok, :index 27}
{:f :cbcast, :value 15, :time 2703268700, :process 2, :type :invoke, :index 28}
{:f :cbcast, :value [14], :time 2709317400, :process 2, :type :ok, :index 29}
{:f :cbcast, :value 16, :time 2979686300, :process 1, :type :invoke, :index 30}
{:f :cbcast, :value [12 13 14 15], :time 2986945500, :process 1, :type :ok, :index 31}
{:f :cbcast, :value 17, :time 3365799600, :process 0, :type :invoke, :index 32}
{:f :cbcast, :value [15 16], :time 3373395900, :process 0, :type :ok, :index 33}
{:f :cbcast, :value 18, :time 3532742200, :process 1, :type :invoke, :index 34}
{:f :cbcast, :value [17], :time 3537092500, :process 1, :type :ok, :index 35}
{:f :cbcast, :value 19, :time 3544638000, :process 1, :type :invoke, :index 36}
{:f :cbcast, :value [], :time 3549193700, :process 1, :type :ok, :index 37}
{:f :cbcast, :value 20, :time 3726974100, :process 1, :type :invoke, :index 38}
{:f :cbcast, :value [], :time 3733297700, :process 1, :type :ok, :index 39}
{:f :cbcast, :value 21, :time 3911692400, :process 1, :type :invoke, :index 40}
{:f :cbcast, :value [], :time 3918043200, :process 1, :type :ok, :index 41}
{:f :cbcast, :value 22, :time 4048668700, :process 0, :type :invoke, :index 42}
{:f :cbcast, :value [18 19 20 21], :time 4054878500, :process 0, :type :ok, :index 43}
{:f :cbcast, :value 23, :time 4357154500, :process 2, :type :invoke, :index 44}
{:f :cbcast, :value [16 17 18 19 20 21 22], :time 4364143000, :process 2, :type :ok, :index 45}
{:f :cbcast, :value 24, :time 4664576500, :process 1, :type :invoke, :index 46}
{:f :cbcast, :value [22 23], :time 4671432000, :process 1, :type :ok, :index 47}
{:f :cbcast, :value 25, :time 4820483500, :process 1, :type :invoke, :index 48}
{:f :cbcast, :value [], :time 4826451600, :process 1, :type :ok, :index 49}
