{:index 0, :time 10552000, :type :invoke, :process 2, :f :lock, :value nil}
{:index 1, :time 21631100, :type :ok, :process 2, :f :lock, :value nil}
{:index 2, :time 112375900, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 3, :time 115005300, :type :ok, :process 2, :f :unlock, :value nil}
{:index 4, :time 392371700, :type :invoke, :process 3, :f :lock, :value nil}
{:index 5, :time 397163300, :type :ok, :process 3, :f :lock, :value nil}
{:index 6, :time 534111500, :type :invoke, :process 3, :f :unlock, :value nil}
{:index 7, :time 536692000, :type :ok, :process 3, :f :unlock, :value nil}
{:index 8, :time 679707800, :type :invoke, :process 1, :f :lock, :value nil}
{:index 9, :time 683737400, :type :ok, :process 1, :f :lock, :value nil}
{:index 10, :time 902004500, :type :invoke, :process 2, :f :lock, :value nil}
{:index 11, :time 1022917600, :type :invoke, :process 3, :f :lock, :value nil}
{:index 12, :time 1335126500, :type :invoke, :process 0, :f :lock, :value nil}
{:index 13, :time 1720309700, :type :invoke, :process 1, :f :unlock, :value nil}
{:index 14, :time 1723163100, :type :ok, :process 1, :f :unlock, :value nil}
{:index 15, :time 1723559600, :type :ok, :process 2, :f :lock, :value nil}
{:index 16, :time 1758883900, :type :invoke, :process 1, :f :lock, :value nil}
{:index 17, :time 1777111400, :type :invoke, :process 2, :f :unlock, :value nil}
{:index 18, :time 1779444700, :type :ok, :process 0, :f :lock, :value nil}
{:index 19, :time 1779550800, :type :ok, :process 2, :f :unlock, :value nil}
{:index 20, :time 2077574000, :type :invoke, :process 0, :f :unlock, :value nil}
{:index 21, :time 2166438000, :type :invoke, :process 2, :f :lock, :value nil}
{:index 22, :time 6025860900, :type :info, :process 3, :f :lock, :value nil, :error :net-timeout}
{:index 23, :time 6759802800, :type :info, :process 1, :f :lock, :value nil, :error :net-timeout}
{:index 24, :time 7078786900, :type :info, :process 0, :f :unlock, :value nil, :error :net-timeout}
{:index 25, :time 7172349700, :type :info, :process 2, :f :lock, :value nil, :error :net-timeout}
